<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mysql?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="connection.pool_size">1</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
    <property name="hibernate.show_sql">true</property>
    <mapping package="ru.sfedu.mydiplom.model.dto"/>
    <mapping class="ru.sfedu.mydiplom.model.dto.Applications"/>
    <mapping class="ru.sfedu.mydiplom.model.dto.Clients"/>
    <mapping class="ru.sfedu.mydiplom.model.dto.Delay"/>
    <mapping class="ru.sfedu.mydiplom.model.dto.Payments"/>
    <mapping class="ru.sfedu.mydiplom.model.dto.TypeCredits"/>
    <mapping resource="named-queries.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
